h1{
	font-size: arial;
	color: red;	
}

h3{
	font-size: arial;
	color: red;	
	
}
#header{
	text-align: center;
	font-size: arial;
	margin-right: 10%;
	margin-left: 10%;
	color: white;
	
}

#content{
	
	text-align: center;
	color: white;
	font-size: arial;
	margin-right: 10%;
	margin-left: 10%;
}

#content2{
	
	text-align: center;
	color: white;
	font-size: arial;
	margin-right: 10%;
	margin-left: 10%;

}